<h2 class="align-center mb-4">Recently Added Notes</h2>

  <div class="row justify-content-start flex-wrap">
    <% @subjects.each do |subject| %>
      <div class="col-lg-4">
          <%= render 'pages/subject_card', {subject: subject} %>
      </div>
    <%end%>

</div>